body {
    background-image: url('/imagenes/fondo3.png');
    background-size: cover; /* Cubre todo el fondo, manteniendo las proporciones */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: repeat; /* Evita que la imagen se repita */
}
.titulo{
    float: left;
}
.cajatitulo{

    display: flow-root;
}
a{
float: right;

color: #007bff; /* Color del texto del enlace */
text-decoration: none; /* Quita el subrayado por defecto */
transition: color 0.3s ease;

}
  
  /* Cambia el color del texto cuando el enlace ha sido visitado */




header {
    background-color: #02181f;
    color: white;
    padding: 10px 20px;
    
}

main {
    padding: 20px;
}

section {
    margin-top: 40px;
    background-color: rgba(2, 164, 176, 0.8); /* Fondo ligeramente transparente */
    padding: 20px;
    
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1), 
                0 0 25px rgba(255, 223, 0, 0.8); /* Sombra amarilla externa más intensa */
}

section p {
    font-weight: bold; /* Hace el texto más grueso */
    color: #ffffff; /* Un color más claro para mayor contraste, por ejemplo, blanco */
    font-size: 18px; /* Tamaño de fuente más grande para hacerlo más llamativo */
}

ul {
    list-style-type: none; /* Elimina los marcadores de lista */
    padding: 0;
    
}

ul li {
    background-color: #6f418dd6; /* Color de fondo para los ítems de la lista */
    color: white; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 5px; /* Espaciado entre ítems */
    border-radius: 5px; /* Bordes redondeados */
    font-weight: bold; /* Texto en negrita */
}


a.grande{
    font-size: 30px;
}
a.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a.button:hover {
    background-color: #0056b3;
}

section {
    overflow: hidden;

}

img {
    
    float: center; /* Alinea la imagen a la izquierda */
    width: 90%; /* La imagen ocupa el 25% del ancho del contenedor */
    height: auto; /* Asegura que la imagen se ajuste al contenedor sin perder sus proporciones */
    
}

.contenedor {
    display: flex; /* Establece un layout flexible */
}

.lado-izquierdo {
    width: 40%; /* Ocupa el 25% del ancho del contenedor */
     /* Color de fondo para visualización */
    overflow: hidden; /* Asegura que el contenido no se escape */
}

.lado-derecho {
    width: 60%; /* Ocupa el 75% del ancho del contenedor */
     /* Color de fondo para visualización */
    overflow: hidden; /* Asegura que el contenido no se escape */
}
