body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header {
    background-color: #02181f;
    color: white;
    padding: 10px 20px;
}

main {
    padding: 20px;
}

section {
    background-color: rgb(2, 164, 176);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a.button:hover {
    background-color: #0056b3;
}

section {
    overflow: hidden;

}

img {
    float: left; /* Alinea la imagen a la izquierda */
    width: 25%; /* La imagen ocupa el 25% del ancho del contenedor */
    margin-right: 20px; /* Añade espacio a la derecha de la imagen */
    height: auto; /* Asegura que la imagen se ajuste al contenedor sin perder sus proporciones */
}